.listItem {
  box-sizing: border-box;
  padding: 10px 20px;
  border: 1px solid dodgerblue;
  border-radius: 4px;
  text-align: center;
  width: 100%;
}

.list {
  max-width: 400px;
  box-sizing: border-box;
  border: 3px solid fuchsia;
  padding: 10px;
  overflow-y: scroll;
  position: relative;
  max-height: 90vh;
  min-height: 90vh;
}


.button {
  position: fixed;
  top: 50%;
  left: 50%;
}
