.container {

}


.header {
  height: 200px;
  min-width: 100vw;
  max-width: 100vw;
}

.lightThemeHeader {
  background-color: antiquewhite;
  color: #24292e;
}

.darkThemeHeader {
  background-color: #24292e;
  color: white;
}